body {
    margin: 0;
    font-size: 18px;
    display: grid;
    font-family: 'Damion', cursive;
    /* Configura o tamanho das colunas */
    grid-template-areas: 'header header header header'
        'section section section section'
        'batata batata batata batata'
        'footer footer footer footer'
        'nav nav nav nav';
    grid-template-rows: 95vh 50vh 60vh 55vh 10vh;
    /* grid-template-columns: 24vw 24vw 24vw 24.5vw 24.5vw; */
}

/* Nomeação dos itens */
nav {
    grid-area: nav;
    background-color: lightgray;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav a {
    font-size: 20px;
    text-decoration: none;
    color: grey;
    margin: 0 10px;
}

header {
    grid-area: header;
    background-color: black;
    display: flex;
    justify-content: center;
    background-image: url("assets/banner.png");
    /* height: 601px; */
}

header h1 {
    font-family: 'Pacifico',
        cursive;
    color: white;
    size: 34pt;
}

header img {
    height: 100%;
    border-radius: 100px;
}

section {
    grid-area: section;
    background-color: white;
}

section p {
    display: flex;
    justify-content: center;

}

section div {
    display: flex;
    justify-content: space-between;

}

.batata {
    grid-area: batata;
    background-color: lightgray;
}

.batata div {
    display: flex;

}

.fake p {
    display: flex;
    justify-content: center;
}

footer {
    grid-area: footer;
    background-color: white;
}

.teste-2 {
    font-size: 1.2rem;
}

h2 {
    font-family: 'Bangers', cursive;
}

aside iframe {
    width: 100%;
}